
.filters__container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    padding: 20px;
}

.filters__content {
    width: 100%;
    max-width: 1080px;
    padding: 0 15px;
}

.filters__select__container {
    display: flex;
}