
:root {
  --primary-text-color: black;
  --secondary-text-color: #4A4A4A;
  --third-text-color: #696969;
  --fourth-text-color:rgb(150, 150, 150);


  --primary-bg-color: black;

  --primary-mode-color: #bbbbbb;
  --secondary-mode-color: #fafafa;
  
  --primary-background-color: #f7f7f7;

  --scroll-background-color: rgb(235, 235, 235) ;
  --scroll-bar-color: #777777;
  --scroll-bar-color-hover: #5a5a5a;
  --scroll-bar-color-active: #858585;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  -webkit-appearance: none;
  background: var(--scroll-background-color);
}

body::-webkit-scrollbar:vertical {
  width: 8px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 1px solid var(--scroll-background-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-color-hover);
}

body::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-bar-color-active);
}

.App {
  padding: 0;
  margin-top: -2px;
  overflow-x: hidden;
}